y_test_org_2.csv 
.ipynb
.ipynb_checkpoints/
Elasticity_model_data_EYLAB.xlsx
Pricing.pptx
X_test_orgin.csv
datac\304\261m.csv
dataset -2.xlsx
dataset.xlsx
deneme.pbix
exp.xlsx
fin_mod.py
pic/
pricing1.ipynb
pricing1.py
y_pred_2.csv
y_pred_org_2.csv
y_pred_orgin.csv
y_test_2.csv
y_test_org_2.csv